In [2]:
import pandas as pd

df = pd.read_csv("Blue_Bike_Stations.csv")

In [11]:
# Add two columns to normalize the coordinates
df["Add_minX"] = df[["X"]]+min(df["X"])
df["Add_minY"] = df[["Y"]]-min(df["Y"])

In [12]:
print(df.shape)
print(df.head())

(425, 7)
              X             Y                                 Name  \
0 -7.916449e+06  5.212672e+06                       1200 Beacon St
1 -7.923242e+06  5.215762e+06                          160 Arsenal
2 -7.918062e+06  5.215631e+06                     175 N Harvard St
3 -7.915794e+06  5.218121e+06                        191 Beacon St
4 -7.914260e+06  5.204349e+06  2 Hummingbird Lane at Olmsted Green

     District  Total_docks      Add_minX      Add_minY
0   Brookline           15  14815.049054  13327.199873
1   Watertown           11   8022.304783  16417.523998
2      Boston           18  13201.986218  16286.746119
3  Somerville           19  15470.440329  18777.076191
4      Boston           17  17004.771343   5005.154188

In [5]:
# Drop the columns we won't need
df.drop(["Number","Latitude","Longitude","Public_","ObjectId"],axis=1,inplace=True)

In [10]:
print(df.shape)
print(df.head())

(425, 7)
              X             Y                                 Name  \
0 -7.916449e+06  5.212672e+06                       1200 Beacon St
1 -7.923242e+06  5.215762e+06                          160 Arsenal
2 -7.918062e+06  5.215631e+06                     175 N Harvard St
3 -7.915794e+06  5.218121e+06                        191 Beacon St
4 -7.914260e+06  5.204349e+06  2 Hummingbird Lane at Olmsted Green

     District  Total_docks      Add_minX      Add_minY
0   Brookline           15 -1.584771e+07  13327.199873
1   Watertown           11 -1.585451e+07  16417.523998
2      Boston           18 -1.584933e+07  16286.746119
3  Somerville           19 -1.584706e+07  18777.076191
4      Boston           17 -1.584552e+07   5005.154188

In [9]:
# Two entries had 0 total docks, no need to consider those
df.drop(df[df["Total_docks"]==0].index,inplace=True)

In [13]:
from numpy.ma.core import sqrt
def dist(x1,y1,x2,y2):
  x = pow(x1-x2,2)
  y = pow(y1-y2,2)
  return sqrt(x+y)

In [23]:
a1 = df.iloc[0][["Add_minX","Add_minY"]].tolist()
b1 = df.iloc[1][["Add_minX","Add_minY"]].tolist()
print(a1)
print(b1)

[14815.049053790048, 13327.199873380363]
[8022.304782520048, 16417.52399769053]

In [16]:
print(a1[0])

14815.049053790048

In [17]:
dist(a1[0],a1[1],b1[0],b1[1])

7462.6723047555015

In [18]:
# Get all distances
distances = []
for i in range(df.shape[0]):
  for j in range(i+1,df.shape[0]):
    a = df.iloc[i][["Add_minX","Add_minY"]]#.tolist()
    b = df.iloc[j][["Add_minX","Add_minY"]]#.tolist()
    distances.append(dist(a[0],a[1],b[0],b[1]))

In [20]:
print(len(distances))
print(max(distances))
print(min(distances))
print(sum(distances)/len(distances))

90100
50699.23620739128
33.95196850170113
9464.065869467226

In [28]:
tempD = {}
tempD[(tuple(a1),tuple(b1))] = distances[-1]
print(tempD)

{((14815.049053790048, 13327.199873380363), (8022.304782520048, 16417.52399769053)): 4860.852940082774}

In [29]:
distDict = {}
for i in range(df.shape[0]):
  for j in range(i+1,df.shape[0]):
    a = df.iloc[i][["Add_minX","Add_minY"]].tolist()
    b = df.iloc[j][["Add_minX","Add_minY"]].tolist()
    distDict[(tuple(a),tuple(b))] = dist(a[0],a[1],b[0],b[1])
print(len(distDict))

90100

In [30]:
import pickle
f = open("Distance dictionary.pkl","wb")
pickle.dump(distDict,f)
f.close()